.logo{
    height: 50px;
    width: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
.logo-name{
    font-weight: bold;
    color: white !important;
    font-family: 'Michroma', sans-serif;
}

header
{
   
    position: fixed;
    z-index: 1;
    width: 100%;
}

.secondary{
    background-color: rgb(9, 66, 70);
}

header nav div div ul li
{
    padding-right: 20px;
    font-weight: bold;
    transition: all 0.5 ease-in; 
}

header nav div div ul li a:hover
{
    text-decoration-color: yellow !important;
    color: yellow !important;
}

.slider{
    height: 600px;
    width: 100%;
}

.slider1{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/hamed.jpg');
    background-size: 100% 600px;
}
.slider2{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/ai2.jpg');
    background-size: 100% 600px;
}

.about-me-img
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url('../images/hamed.jpg');
    background-size: 100% 100%;   
    color: white !important;
}

.padding{
    padding-top: 70px; 
}

.icon-size
{
    width: 80px;
    height: 80px;
}
.uni-logo
{
    width: 130px;
    height: 130px;
}