@import url("./fonts/Permanent_Marker/PermanentMarker-Regular.ttf");

.content-container{
    /*background-color: rgb(10, 48, 48);
    color:white;*/
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
}

.header{
    text-align: center;
}

.image{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: auto;
    padding: 5px;
    border-radius: 12px;
}

#buttons button{
    background-color: rgb(39, 67, 117);
    /*border: 3px solid rgb(10, 48, 48);*/
    border: 3px solid rgb(39, 67, 117);
    width: 120px;
    height: 30px;
    text-align: center;
    color:white;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.row{
    display: table-row;
    width:auto;
    clear:both;
}
.col{
    float: left;
    display: table-column;
    width:400px;
}

.col-1{
    float: left;
    display: table-column;
    width: 200px;
    height: 200px;
}

.col-2{
    float: left;
    display: table-column;
    width: 700px;
    height: auto;
}

.pcol-1{
    float: left;
    display: table-column;
    width: 10%;
    height: 200px;
}

.pcol-2{
    float: left;
    display: table-column;
    width: 90%;
    height: auto;
}

#title-fonts em{
    font-size: 20px;
}

#title-fonts h1{
    font-family: 'Permanent Marker' , cursive;
}

.content-body{
    font-family: /*Arial, Helvetica, sans-serif; */'Permanent Marker' , cursive;
    font-size: 18px;
}

.clear{
    clear:both;
}

.singature{
    font-size: 25px;
}

.copyrith{
    font-size: 15px;
}
.drop-cap{
    font-size: 2em;
    float: left;
    margin-left: 4px;
    margin-right: 6px;
}

.large-cap{
    font-size: 2em;
}

.pic{
    width:200px;
    height: 200px;
}

.border-lines{
    border: double;
}

.email{
    color: rgb(17, 149, 236);
    letter-spacing: 1px;
    font-size: 1.3em;
}

.email-address-font{
    font-size: 1.1em;
}


.bold-text{
    font-weight: bold;
}
.underline-text{
    text-decoration: underline;
}

.blue-color{
    color:blue;
}

.link-style{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

.uma-logo{
    width: 150px;
    height: 150px;
}


@media (max-width:768px){
    .col{
        width:280px;
    }
    .border-lines{
        border: none;
    }
    .pcol-2{
        width: 400px;
    }
    .pcol-1{
        width: 50px;
    }
}

@media (min-width:768px) and (max-width: 1024px){
    .col{
        width:350px;
    }
    .pcol-2{
        width: 650px;
    }
    .pcol-1{
        width: 80px;
    }
}
